@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&family=Orbit&display=swap");

body {
  overflow-x: hidden;
  font-family: "Noto Serif KR", serif;
  background: url(image/bg.jfif);
  /* color: white; */
}

.starBg {
  background: url(image/bg.jfif);
}

section {
  position: relative;
  width: 100vw;
  &.top {
    min-height: 160vh;
    h1.title {
      position: relative;
      color: white;
      text-align: center;
      padding-top: 35vh;
      font-size: 40px;
      font-weight: 100;
    }
  }
  &.bottom {
    /* background: url(image/bg.jfif) center bottom / 100% no-repeat; */
    min-height: 60vh;
    .contWrap {
      margin: 0 auto;
      width: 100%;
      max-width: 700px;
      ul {
        li {
          display: inline-block;
          margin: 0 2%;
          width: 130px;
          height: 200px;
          border-radius: 6px 6px 6px 6px;
          box-sizing: border-box;
          padding: 10px;
          background-color: linear-gradient(45deg, #4620ba, #dcd5f1);
          p {
            font-size: 20px;
            color: white;
            border-bottom: 2px dashed white;
          }
        }
      }
      h2 {
        text-align: center;
        color: white;
        margin-top: 30px;
        font-weight: 100;
      }
    }
  }
}
